
.expriencia__cursos {

    padding: 3em;
    border-radius: 16px;
    background-color: var(--black-cor);
    margin-bottom: 2em;
    line-height: 1.5em;
}

.nome__curso{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}
.descricao__curso{
    font-size: 18px;
    text-align: left;
}

.cursos__itens  {
    text-align: left;
    font-size: 18px;
    padding: 1.2em;
    list-style-type: circle;
}

.titulo__cursos {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-top: 2em;
    font-family: var(--fonte-principal);

}
