main {
    flex-direction: column;
    font-size: 20px;
    text-align:center;
}



.expriencia__cursos {

    padding: 3em;
    border-radius: 16px;
    background-color: var(--black-cor);
    margin-bottom: 2em;
    line-height: 1.5em;
}

.nome__curso{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}
.descricao__curso{
    font-size: 18px;
    text-align: left;
}

.cursos__itens  {
    text-align: left;
    font-size: 18px;
    padding: 1.2em;
    list-style-type: circle;
}

