.expriencia {
    
    flex-direction: column;
    align-content: space-around;
    padding: 2em;
    border-radius: 16px;
    background-color: var(--black-cor);
    margin-bottom: 2em;
}

.titulo__experiencia {
    display: flex;
    
    font-size: 30px;
    justify-content: center;
    margin-top: 2em;

}

.nome__empresa {
    font-size: 25px;
    text-align: left;
}

.cargo{
    text-align: left;
    font-size: 20px;
    margin-top: 1em;
}

.descricao {
    text-align: left;
    font-size: 17px;
    margin-top: 1em;
    line-height: 1.5em;
}


@media screen and (max-width: 425px){
    .descricao{
        font-size: 17px;
    }
}

   
