.footer {
    flex-grow:1 ;
    width: 100vw;
    font-family: var(--fonte-principal);
    font-size:20px;
    padding: 2em;
    background-color: var(--black-cor);
    text-align: center;
    margin-top: 2em;
    height: 14vh;
    
}

.contato{
    margin-bottom: 1em;
}

.menu-footer {
    margin: 0 0 1em 1em;
}


