.footer {
    
    width: 100vw;
    font-family: var(--fonte-principal);
    font-size:20px;
    padding: 1.5em;
    background-color: var(--black-cor);
    text-align: center;
    margin-top: 2em;
    height: 14vh;
    
}

.contato{
    margin-bottom: 1.5em;
}

.menu-footer {
    margin: 1em;
}


@media screen and (max-width: 425px){
    .footer{
        width: 100vw;
        font-size: 17px;
        padding: 1em;
    }

        
}