header {
    display: inline-flex;
    background-color: var(--black-cor);
    ;

}

.cabecalho {
    font-family: var(--fonte-principal);
    
    width: 100%;
    
    align-items: center;
    
    font-weight: 700;
    
}
.menu-navegacao {
    font-size: 15px;
    align-items: center;
    padding: 1em;
}

.menu-navegacao-itens {
    
    background-color: var(--black-cor);
    padding: 1em 1em ;
    align-items: center;
}



@media screen and (max-width: 425px){
    .menu-navegacao {
        font-size: 12px;
        align-items: center;
        padding: 1em;
}
}