@import url(/assets/body.css);
@import url(/assets/header.css);
@import url(/assets/footer.css);
@import url(/assets/main.css);
@import url(/assets/reset.css);
@import url(/assets/experiencia.css);
@import url(/assets/cursos.css);


:root {
    --background-color: #1c142b;
    --fonte-principal: 'Josefin Sans';
    --fonte-cor: aliceblue;
    --black-cor: #262525;
    --botoes-cabecalho: #351330;
}


body {
    display: flex;
    flex-direction: column;
    overflow:scroll;
    background-color:var(--background-color);
    font-family: var(--fonte-principal);
    color: var(--fonte-cor);
    
}








